<!DOCTYPE html>
<html lang="en">
<head>
<title>Wander Covid-19 Updates</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="signin-content">
			<div class="signin-image">
				<figure>
					<img src="img/covid.png" alt="sing up image">
				</figure>
				<a href="/signup" class="signup-image-link">Sign Up</a> 
				<a href="/" class="signup-image-link">Log in</a>
			</div>
			<div class="signin-form">
				<h1 class="form-title">Wander Covid-19 Updates</h1>
				<h1 class="form-title">Forgot Password</h1>
				<div class="form-group">
					<label for="your_name"> <i class="zmdi zmdi-account material-icons-name"></i></label> 
					<input type="text" name="username" id="username" placeholder="User Name" />
				</div>
				<div class="form-group form-button">
					<input type="submit" name="forgotpassword" id="forgotpassword" class="form-submit" value="Forgot Password" />
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="js/forgot-password.js"></script>
</body>
</html>